# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OTHER
*
!*.cpp
!*.h
!*.md
!Makefile
!Doxyfile
!/test/
!test/*.cpp
!/test/boost_test/
!test/boost_test/*
!/docs/
!docs/*
!/latex/
!latex/*
